<h1>Example App: Home</h1>
<a href="/product">products</a><br>
<a href="/product/sold">products sold</a><br>
<a href="/mostPopular">Most Popular Products</a><br>
<a href="/categories">Category Calculation</a><br>
<a href="/mostProfiCat">Most Profitable Category</a><br>
<a href="/leastPopularProd">Least Popular Products</a><br>